<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Menù Lateral con Css</title>
	<link rel="stylesheet" href="../Css/estilo.css">
</head>
<body>
	<header class="header">
		<div class="container">
		<div class="btn-menu">
			<label for="btn-menu">☰</label>
		</div>
			<div class="logo">
				<h1>Biblioteca</h1>
			
	</header>
	<div class="capa"></div>
<!--	--------------->
<input type="checkbox" id="btn-menu">
<div class="container-menu">
	<div class="cont-menu">
		<nav>
			<a href="../view/Autor.html">Autor</a>
			<a href="../view/Bibliotecario.html">Bibliotecario</a>
			<a href="../view/Lector.html">Lector</a>
			<a href="../view/Libro.html">Libro</a>
            <a href="../view/Persona.html">Persona</a>
            <a href="../view/Registro.html">Registro</a>


		


      <a href="#"></a>





		</nav>
		<label for="btn-menu">✖️</label>
	</div>
</div>
</body>
</html>