/* Estilos para el menú */
.dropdown {
    position: relative;
    display: inline-block;
    margin: 20px;
}

.dropbtn {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    position: relative;
}

.dropbtn span {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.dropbtn:hover {
    background-color: #2980b9;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    background-image: url('https://imgv3.fotor.com/images/gallery/Light-gradient-background.jpg'); /* Cambiar 'tu-imagen-de-fondo.jpg' por la ruta de tu imagen de fondo */
    background-size: cover;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
    overflow: hidden;
    border-top: 4px solid #3498db;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}