<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company</title>
     <!-- librerias -->
     <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/litera/bootstrap.min.css" rel="stylesheet">
     <!-- ajax -->
     <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
     <!-- Script -->
     <script src='../js/Company.js'></script>
     <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
</head>
<body>
    <div class="container">
        <div id="inputData">
            <form>
                <fieldset>
                    <legend>Company Details</legend>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Nit</label>
                        <div class="col-sm-10">
                            <input type="hidden" name="id" id="id" value="">
                            <input type="text" class="form-control" nit="nit" id="nit" value="" placeholder="Nit">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Rs</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="rs" id="rs" value="" placeholder="Rs">
                        </div>
                    </div>


                            <div id="inputs"></div>
                            <input type="hidden" name="address" id="address">
                        


                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">City</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="city" placeholder="City"> <!-- Agregar el campo oculto para almacenar el ID de la persona -->
                            <input type="hidden" id="city_id" name="city_id">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Web</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="web" id="web" value="" placeholder="Web">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" name="email" id="email" value="" placeholder="Email">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Phone</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="phone" id="phone" value="" placeholder="Phone">
                        </div>
                    </div>

                    <div class="col-sm-10">
                        <br>
                        <select class="form-select" id="state">
                            <option selected>--Seleccione--</option>
                            <option value="1">Activo</option>
                            <option value="0">Inactivo</option>
                        </select>
                    </div>
                </fieldset>
            </form>
        </div>
        <div id="buttonData">
            <br>
            <button name="btnAgregar" onclick="save()" class="btn btn-success">Agregar</button>
        </div>

        <div id="outputData">
            <br>
            <thead>
            <table class="table table-hover">
                <tr class="table-dark">
                    <th>Nit</th>
                    <th>Rs</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>web</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>State</th>
                    <th colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody id="resultData">
            </tbody>
            </table>
        </div>
    </div>
</body>
<script>
    loadData();
    loadCity();
    cargarNomeclaturas();
</script>
</html>