<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Menu</title>
<link rel="stylesheet" href="../assets/css/style.css">
</head>
<body style="background-image: url('https://4kwallpapers.com/images/walls/thumbs_3t/15888.jpg'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center center;"></body>

<!-- Menú desplegable -->
<div class="dropdown">
    <button class="dropbtn">Security<span>&#9662;</span></button>
    <div class="dropdown-content">
        <a href="../view/City.html">City</a>
        <a href="../view/Company.html">Company</a>
        <a href="../view/Contract.html">Contract</a>
        <a href="../view/Country.html">Country</a>
        <a href="../view/Department.html">Departament</a>
        <a href="../view/Employed.html">Employed</a>
        <a href="../view/Person.html">Person</a>
        <a href="../view/Position.html">Position</a>
        <a href="../view/Role.html">Role</a>
        <a href="../view/User.html">User</a>
        <a href="../view/View.html">View</a>
        <a href="../view/Module.html">Module</a>
        <a href="../view/Cliente.html">Cliente</a>
    </div>
</div>

</body>
</html>
