<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario</title>
    <!-- librerias -->
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/litera/bootstrap.min.css" rel="stylesheet">
    <!-- ajax -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- Script -->
    <script src='../js/Registro.js'></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
     <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script><!-- Agregar el autocomplete -->
</head>
<body>
    <div class="container">
        <div id="inputData">
            <form>
                <fieldset>
                    <legend>Registro</legend>
                    

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Persona</label>
                    <div class="col-sm-10">
                        <input type="hidden" name="id" id="id" value="">
                        <input type="text" class="form-control" id="persona" placeholder="persona"> 
                        <input type="hidden" id="persona_id" name="persona_id">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Libro</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="libro" placeholder="Libro"> 
                        <input type="hidden" id="libro_id" name="libro_id">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Fecha inicio</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" name="fechaInicio" id="fechaInicio" value="" placeholder="fecha inicio">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Fecha fin</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" name="fechaFin" id="fechaFin" value="" placeholder="fecha fin">
                    </div>
                </div>

                
                <div class="col-sm-10">
                </br>
                <select class="form-select" id="state">
                    <option selected>--Seleccione--</option>
                    <option value="1">Activo</option>
                    <option value="0">Inactivo</option>
                </select>
            </div>
        </div>
                </fieldset>
            </form>
    </div>
    <div id="buttonData">
        <br>
        <button name="btnAgregar" onclick="save()" class="btn btn-success">Agregar</button>
    </div>
    <div id="outputData">
        <br>
        <table class="table table-hover">
            <thead>
                <tr class="table-dark">
                    <th>Fecha Incio</th>
                    <th>Fecha Fin</th>
                    <th>Lector</th>
                    <th>Libro</th>
                    <th>State</th>
                    <th colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody id="resultData">
            </tbody>
        </table>
    </div>
   </div>
    
</body>

<script>
    loadData();
    loadPersona();
    loadLibro();
    </script>
</html>